**/node_modules
**/.env
bfx-reports-framework/db/*.db
bfx-reports-framework/db/*.json
bfx-reports-framework/config/*.json
bfx-reports-framework/config/facs/*.json
bfx-reports-framework/logs/*.log
bfx-reports-framework/csv
bfx-report-ui/build
bfx-report-ui/bfx-report-express/logs/*.log
bfx-report-ui/bfx-report-express/config/*.json
docker-compose.yaml
Dockerfile.linux-builder
Dockerfile.win-builder
Dockerfile.mac-builder
dist
