.idea
.vscode
**/node_modules
**/.env
**/.env.example
*Dockerfile*
*docker-compose*
lastCommit.json
electronEnv.json
dev-app-update.yml
dist
bfx-reports-framework/db/*.db
bfx-reports-framework/db/*.json
bfx-reports-framework/config/*.json
bfx-reports-framework/config/facs/*.json
bfx-reports-framework/logs/*.log
bfx-reports-framework/csv
bfx-report-ui/build
bfx-report-ui/bfx-report-express/logs/*.log
bfx-report-ui/bfx-report-express/config/*.json
stub.AppImage
