.idea/
.vscode/
node_modules/
npm-debug.log
bfx-report-ui/*
!bfx-report-ui/.gitkeep
bfx-reports-framework/*
!bfx-reports-framework/.gitkeep
dist/*
!dist/.gitkeep
package-lock.json
.env
lastCommit.json
electronEnv.json
stub.AppImage
