.rangeInput {
  display: flex;
  align-items: center;
}

.radioInput input[type=radio] {
  -webkit-appearance: none;
  margin: -5px 10px -4px 5px;
  border: 2px solid #f5f8fa;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.radioInput input[type=radio]:focus {
  outline: none;
}

.radioInput input[type=radio]:checked {
  background-color: #3085d6;
}

.rangeInput output {
  width: 20%;
}

.rangeInput input[type=range] {
  margin: 0;
  background: #f5f8fa;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  height: 6.4px;
  width: 80%;
  -webkit-appearance: none;
}

.rangeInput input[type=range]:focus {
  outline: none;
}

.rangeInput input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  -webkit-appearance: none;
}

.rangeInput input[type=range]::-webkit-slider-thumb {
  margin-top: -10.8px;
  width: 28px;
  height: 28px;
  background:  #3085d6;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: -800px 0 0 -10.8px #3085d6;
}

.rangeInput input[type=range]:focus::-webkit-slider-runnable-track {
  background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}

.textColor {
  color: #f5f8fa;
}

.titleColor {
  color: #82baf6;
}
