body .swal2-container {
  font-family: "Inter", sans-serif;
  font-feature-settings: 'tnum';
}

body::-webkit-scrollbar,
.swal2-container::-webkit-scrollbar,
.markdown-body pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--tableScrollBg, #0c1a25);
}

body::-webkit-scrollbar-corner,
.swal2-container::-webkit-scrollbar-corner,
.markdown-body pre::-webkit-scrollbar-corner,
body::-webkit-scrollbar-thumb,
.markdown-body pre::-webkit-scrollbar-thumb,
.swal2-container::-webkit-scrollbar-thumb {
  background-color: var(--tableScrollThumbBg, #2a3f4d);
}

body::-webkit-scrollbar-thumb,
.swal2-container::-webkit-scrollbar-thumb,
.markdown-body pre::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

.swal2-popup {
  width: auto;
  min-width: 32em;
  background-color: var(--bgColor, #172d3e);
}

.swal2-styled.swal2-confirm {
  border-radius: 2px;
  background-color: var(--btnBg, #82baf6);
  border: 1px solid var(--btnBg, #82baf6);
  color: var(--btnPrimaryColor, #102331);
  transition: all 0.3s;
  box-shadow: none;
  background-image: none;
}

.swal2-actions .swal2-styled.swal2-confirm:hover,
.swal2-actions .swal2-styled.swal2-confirm:focus,
.swal2-actions .swal2-styled.swal2-confirm:active {
  background-color: var(--btnPrimaryHoverBg, #4c88c8);
  border: 1px solid var(--btnPrimaryHoverBg, #4c88c8);
  color: var(--btnPrimaryHoverColor, #102331);
  box-shadow: none;
}

.swal2-styled.swal2-cancel {
  border-radius: 2px;
  background-color: var(--bgColor, #172d3e);
  border: 1px solid var(--borderColor, #334A59);
  color: var(--btnColor, #ffffff);
  transition: all 0.3s;
  box-shadow: none;
  background-image: none;
}

.swal2-actions .swal2-styled.swal2-cancel:hover,
.swal2-actions .swal2-styled.swal2-cancel:focus,
.swal2-actions .swal2-styled.swal2-cancel:active {
  background-color: var(--btnHoverBg, #19354a);
  border: 1px solid var(--borderColor, #334A59);
  box-shadow: none;
}

.markdown-body {
  background-color: var(--bgColor2, #0B1923);
  padding: 16px;
  font-size: 1em;
}

.markdown-body table {
  color: var(--tableColor, #f5f8fa);
  overflow: unset;
}

.markdown-body table tr {
  background-color: var(--tableOddBg, #0B1923);
}

.markdown-body table thead tr {
  background-color: var(--thBg, #0B1923);
  color: var(--thColor, #82baf6);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--tableEvenBg, #0B1923);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: var(--bgColor, #172d3e);
}

.markdown-body table td,
.markdown-body table th {
  border: 1px solid var(--tableBorder, #334A59);
}

.markdown-body details,
.markdown-body pre,
.markdown-body p,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body ul {
  text-align: left;
}

.markdown-body hr {
  background-color: rgba(255,255,255,0.1);
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid var(--tableBorder, #334A59);
}

.markdown-body blockquote {
  border-left: .25em solid var(--tableBorder, #334A59);
}

.radioInput,
.rangeInput {
  background: none;
}

.rangeInput {
  display: flex;
  align-items: center;
}

.radioInput input[type=radio] {
  -webkit-appearance: none;
  margin: -5px 10px -4px 5px;
  border: 2px solid var(--radioInputBorder, #f5f2f2);
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  transition: all 0.3s;
}

.radioInput input[type=radio]:focus {
  outline: none;
}


.radioInput input[type=radio]:hover {
  background-color: var(--radioInputBgHover, #19354a);
}

.radioInput input[type=radio]:checked {
  background-color: var(--radioInputBgActive, #82baf6);
}

.rangeInput output {
  width: 20%;
}

/* TODO: */
.rangeInput input[type=range] {
  margin: 0;
  background-color: transparent;
  border: 0.2px solid var(--rangeInputBorder, #334A59);
  border-radius: 1.3px;
  height: 6.4px;
  width: 80%;
  -webkit-appearance: none;
}

.rangeInput input[type=range]:focus {
  outline: none;
}

.rangeInput input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  -webkit-appearance: none;
}

.rangeInput input[type=range]::-webkit-slider-thumb {
  margin-top: -10.8px;
  width: 28px;
  height: 28px;
  background-color: var(--rangeInputBgActive, #3085d6);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: -800px 0 0 -10.8px var(--rangeInputBgActive, #82baf6);
}

.swal2-title,
.titleColor {
  color: var(--activeColor, #82baf6);
}

.swal2-html-container {
  margin: 1em 1em .3em;
}

.swal2-html-container,
.textColor {
  color: var(--color, #ffffff);
}

.select-db-backup .radioInput {
  flex-direction: column;
  align-items: start;
}

.select-db-backup .radioInput label {
  margin-top: 20px;
  margin-bottom: 20px;
}
