.radioInput input {
  -webkit-appearance: none;
  margin: -5px 10px -4px 5px;
  border: solid 2px #f5f8fa;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.radioInput input:checked {
  background-color: #3085d6;
}

.textColor {
  color: #f5f8fa;
}

.titleColor {
  color: #82baf6;
}
