<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script defer src="./loading-window.js"></script>
  <link rel="shortcut icon" href="../../../bfx-report-ui/build/favicon.ico">
  <link href="../../../bfx-report-ui/build/fonts/inter.css" rel="stylesheet">
  <link href="./themes.css" rel="stylesheet">
  <link href="./loading-window.css" rel="stylesheet">
  <title>Bitfinex Reports</title>
</head>

<body class="body">
  <div class="win-control-btn">
    <div id="minBtn" class="window-btn window-btn__minimize window-btn--disabled"></div>
    <div id="closeBtn" class="window-btn window-btn__close window-btn--disabled"></div>
  </div>
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="logo" class="logo">
    <img class="logo-img" src="../../../build/loader.png" alt="logo">
  </div>
  <div id="description" class="description"></div>
</body>

<script>
  window.addEventListener('load', () => {
    window.initLoadingWindow()
  })
</script>
</html>
