<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../../../bfx-report-ui/build/favicon.ico">
  <link href="../../../bfx-report-ui/build/fonts/inter.css" rel="stylesheet">
  <link href="../../../node_modules/github-markdown-css/github-markdown.css" rel="stylesheet">
  <link href="./themes.css" rel="stylesheet">
  <link href="./modal-window.css" rel="stylesheet">
  <title>Bitfinex Reports</title>
</head>

<body class="body">
  <div class="window-control-btns">
    <div id="closeBtn" class="window-btn window-btn__close window-btn--disabled"></div>
  </div>

  <div id="modal" class="modal"></div>
</body>

<script defer src="./modal-window.js"></script>
</html>
