html, body {
  height: 100%;
}

html, body, .modal {
  background-color: var(--bgColor, #172d3e);
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-feature-settings: 'tnum';
  font-size: 16px;
}

.window-control-btns {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 0px;
}

.window-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bgColor, #172d3e);
  transition: background-color .3s;
  cursor: pointer;
}

.window-btn__close::before,
.window-btn__close::after {
  content: "";
  display: block;
  position: absolute;
  width: 17px; /* sqrt(12^2 + 12^2) where 12px width */
  height: 1px;
  background-color: var(--btnWindowAfterBg, #9b9a9a);
  bottom: calc((11px / 2) + 9px);
  left: calc((30px - 17px) / 2);
}

.window-btn__close::before {
  transform: rotate(45deg);
}

.window-btn__close::after {
  transform: rotate(-45deg);
}

.window-btn:hover,
.window-btn:active,
.window-btn:focus {
  background-color: var(--btnWindowHoverBg, #9b9a9a);
}

.window-btn--disabled {
  display: none;
}

body::-webkit-scrollbar,
.markdown-body pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--tableScrollBg, #0c1a25);
}

body::-webkit-scrollbar-corner,
.markdown-body pre::-webkit-scrollbar-corner,
body::-webkit-scrollbar-thumb,
.markdown-body pre::-webkit-scrollbar-thumb {
  background-color: var(--tableScrollThumbBg, #2a3f4d);
}

body::-webkit-scrollbar-thumb,
.markdown-body pre::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

.modal {
  display: none; /* flex */
  flex-direction: column;
  color: var(--color, #172d3e);
  position: relative;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.modal > * {
  margin: 10px;
  padding: 0;
}

.modal__icon {
  font-size: 40px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.modal__icon--loading {
  border: 3px solid var(--color, #ffffff);
  border-top: 3px solid var(--activeColor, #82baf6);
  border-radius: 50%;
  width: 68px;
  min-height: 68px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal__icon--info {
  color: var(--activeColor, #82baf6);
  width: 68px;
  min-height: 68px;
  line-height: 68px;
  border: 3px solid var(--color, #ffffff);
  border-radius: 50%;
}

.modal__icon--question {
  color: var(--activeColor, #82baf6);
  width: 68px;
  min-height: 68px;
  line-height: 68px;
  border: 3px solid var(--color, #ffffff);
  border-radius: 50%;
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--activeColor, #82baf6);
}

.modal__text {
  font-weight: lighter;
  color: var(--color, #ffffff);
}

.modal__btns .modal__btn {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: none;
  background-image: none;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__btns .modal__btn:last-of-type {
  margin-right: 0;
}

.modal__btn--confirm {
  background-color: var(--btnBg, #82baf6);
  border: 1px solid var(--btnBg, #82baf6);
  color: var(--btnPrimaryColor, #102331);
}

.modal__btn--confirm:hover,
.modal__btn--confirm:focus,
.modal__btn--confirm:active {
  background-color: var(--btnPrimaryHoverBg, #4c88c8);
  border: 1px solid var(--btnPrimaryHoverBg, #4c88c8);
  color: var(--btnPrimaryHoverColor, #102331);
}

.modal__btn--cancel {
  background-color: var(--bgColor, #172d3e);
  border: 1px solid var(--borderColor, #334A59);
  color: var(--btnColor, #ffffff);
}

.modal__btn--cancel:hover,
.modal__btn--cancel:focus,
.modal__btn--cancel:active {
  background-color: var(--btnHoverBg, #19354a);
  border: 1px solid var(--borderColor, #334A59);
}

.modal__radio-inputs,
.modal__checkbox-inputs,
.modal__range-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__radio-inputs--inline,
.modal__checkbox-inputs--inline,
.modal__range-inputs--inline {
  flex-direction: row;
}

.modal__input {
  background: none;
  line-height: 1;
  display: flex ;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: -webkit-fill-available;
}

.modal__input:has(input[type=radio]),
.modal__input:has(input[type=checkbox]) {
  cursor: pointer;
}

.modal__input input[type=radio],
.modal__input input[type=checkbox] {
  appearance: none;
  line-height: 1;
  margin: 0 10px 0 0;
  border: 2px solid var(--radioInputBorder, #f5f2f2);
  background-color: transparent;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  transition: all 0.3s;
}

.modal__input input[type=range] {
  margin: 0 10px 0 0;
  background-color: transparent;
  border: 0.2px solid var(--rangeInputBorder, #334A59);
  border-radius: 1.3px;
  height: 6.4px;
  width: -webkit-fill-available;
  appearance: none;
}

.modal__input input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  appearance: none;
}

.modal__input input[type=range]::-webkit-slider-thumb {
  margin-top: -10.8px;
  width: 28px;
  height: 28px;
  background-color: var(--rangeInputBgActive, #82baf6);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  appearance: none;
  box-shadow: -800px 0 0 -10.8px var(--rangeInputBgActive, #82baf6);
}

.modal__input input[type=checkbox] {
  border-radius: 4px;
}

.modal__input input[type=radio]:focus,
.modal__input input[type=checkbox]:focus,
.modal__input input[type=range]:focus {
  outline: none;
}

.modal__input input[type=radio]:hover,
.modal__input input[type=checkbox]:hover {
  background-color: var(--radioInputBgHover, #19354a);
}

.modal__input input[type=radio]:checked,
.modal__input input[type=checkbox]:checked {
  background-color: var(--radioInputBgActive, #82baf6);
}

.modal__progress-steps {
  background: none;
  line-height: 1;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 40px;
  width: -webkit-fill-available;
}

.modal__progress-step {
  background: none;
  line-height: 1;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.modal__progress-step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.modal__progress-step-separator {
  width: 30px;
  height: 6px;
}

.modal__progress-step-number,
.modal__progress-step-separator {
  margin: 0;
  background-color: var(--progressStep, #add8e6);
}

.modal__progress-step--active .modal__progress-step-number,
.modal__progress-step--active .modal__progress-step-separator {
  background-color: var(--progressStepActive, #4c88c8);
}

.modal__progress-step:first-child .modal__progress-step-separator {
  display: none;
}

.markdown-body {
  font-family: "Inter", sans-serif;
  padding: 1em;
  background-color: var(--bgColor2, #0B1923);
  font-size: 14px;
}

.markdown-body table {
  color: var(--tableColor, #f5f8fa);
  overflow: unset;
}

.markdown-body table tr {
  background-color: var(--tableOddBg, #0B1923);
}

.markdown-body table thead tr {
  background-color: var(--thBg, #0B1923);
  color: var(--thColor, #82baf6);
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--tableEvenBg, #0B1923);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: var(--bgColor, #172d3e);
}

.markdown-body table td,
.markdown-body table th {
  border: 1px solid var(--tableBorder, #334A59);
}

.markdown-body details,
.markdown-body pre,
.markdown-body p,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body ul {
  text-align: left;
}

.markdown-body hr {
  background-color: rgba(255,255,255,0.1);
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid var(--tableBorder, #334A59);
}

.markdown-body blockquote {
  border-left: .25em solid var(--tableBorder, #334A59);
}
