<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../bfx-report-ui/build/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Bitfinex Reports</title>
    <style>
      .body {
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: #394b59;
      }

      .alert {
        margin: 0 0 20px;
        padding: 20px;
        background-color: #db3737;
        color: #fff;
        font-family: Roboto,sans-serif;
        font-size: 16px;
      }
    </style>
  </head>
  <body class="body">
    <div class="alert">Port 34343 required is in used please close the app using this port</div>
  </body>
</html>
